html {font-size: 16px;}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	display: flex;
  justify-content: center;
  align-items: center;
	flex-flow: row wrap;
}

.container{
	/*max-width: 1200px;*/
	width: 90%;
	/*margin: 0 auto;*/
	display: flex;
  justify-content: center;
  align-items: center;
	flex-flow: row wrap;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
	font-size: 1.125em;
}
h3 {
	font-size: .75em;
}

p {
	font-size: .875em;
	line-height: 1.3125em;
    padding: 0 1.875em;
}

/*The widths are in a percentage!*/
header {
	/*height: 110px;*/
	border-bottom: .1875em solid #77a466;
	text-align: center;
	width: 100%;
	display: flex;
  justify-content: center;
  align-items: center;
	flex-flow: row wrap;
}

header h1 {
	/*float: left;*/
	margin: 0;
	/*padding: 2.375em 0;*/
}
header h1 span {
	color: #77a466;
}

header nav {
	/*float: right;*/
	/*padding: 2.875em 0;*/
	padding: 1.25em 0;
	width: 100%;
}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .875em;
	padding: 1em 0;
	list-style: none;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	margin: 0 auto;
	/*clear: both;*/
	display: flex;
  justify-content: center;
  align-items: center;
	flex-flow: column wrap;
}

.main-image {
	/*height: auto;*/
	/*float: left;*/
}
.main-image img {
	width: 100%;
	border-bottom: .1875em solid #77a466;
}

.main-title {
	/*height: auto;*/
	/*float: left;*/
}
.main-title h2 {
	text-align: left;
	padding: .3125em 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 1.5625em;
}

.section-one,
.section-two,
.section-three {
	width: 90%;
	/*height: auto;*/
	/*float: left;*/
	border-top: .0625em solid #eee;
}

/*.section-one h3 {
	padding: .625em 0;
}

.section-two {
	border-left: .0625em solid #eee;
	border-right: .0625em solid #eee;
}

.section-two h3,
.section-three h3 {
	padding: .625em 2.375em;
}*/

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: .625em 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.3125em;
}

.address {
	font-size: 1em;
	line-height: 1.5em;
}

/*The widths are in a percentage!*/
footer {
	/*height: 50px;*/
	border-top: .1875em solid #eee;
	margin: 0 auto;
	/*clear: both;*/
	text-align: center;
	display: flex;
  justify-content: center;
  align-items: center;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: .875em;
}

@media all and (min-width:768px) {
    /* Tablet styles here */
		.bottom-section {
			margin: 0 auto;
			/*clear: both;*/
			display: flex;
		  justify-content: center;
		  align-items: center;
			flex-flow: row wrap;
		}

		.section-one,
		.section-two,
		.section-three {
			width: 33%;
			/*height: auto;*/
			/*float: left;*/
			border-top: .0625em solid #eee;
		}

	/*	.section-one h3 {
			padding: .625em 0;
		}

		.section-two {
			border-left: .0625em solid #eee;
			border-right: .0625em solid #eee;
		}

		.section-two h3,
		.section-three h3 {
			padding: .625em 2.375em;
		}*/

}

@media all and (min-width:1200px) {
    /* Desktop styles here */

		header {

			justify-content: space-between;
		}

		header h1 {
			 width: 30%;
			 padding: 0;
			 border-bottom: none;
			 text-align: left;
		 }

		 header nav {
			width: 40%;
		}

		header nav ul {

			display: flex;
			justify-content: space-between;


		}



		 header nav {
			 width: 40%;
		 }
}
